.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_main
{
    width: 250px;
    height: 100%;
    background-color: white;
    margin: 0px 10px 0px 20px;
    display:inline-block;
    white-space:normal;
}

.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_info
{
    width: 250px;
    height: 100%;
    background-color: white;
    margin: 0px 10px;
    display:inline-block;
    white-space:normal;
}

.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_data
{
    width: 250px;
    height: 100%;
    margin: 0px 10px;
    display:inline-block;
    white-space:normal;
}




.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box .in_hor_wrap
{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    float: left;
}
