/*LEFT PANEL*/

/*HEADER*/
.app_container .win-splitview .win-splitview-pane {

    /*background-color: #3A4859;*/
    background-color: #4774A8;
}

.app_container .win-splitview.win-splitview-pane-closed.win-splitview-placementleft .win-splitview-pane {
    width: 70px;

}

.app_container .win-splitview .win-splitview-pane button.win-splitviewpanetoggle {
    width: 100%;
    color: #EDF2F7;
}

/*HEADER*/

/*Navigation*/

.app_container .win-splitview .nav-commands .command {
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    cursor: pointer;
}

.app_container .win-splitview .win-splitview-pane .nav-commands .command:hover {
    /*background-color: #34404F !important;*/
    background-color: #3F6896 !important;
}

.app_container .win-splitview .win-splitview-pane .nav-commands .command:active {
    /*background-color: #2E3946 !important;*/
    background-color: #385C85 !important;
}

.app_container .win-splitview .win-splitview-pane .nav-commands .command.active_comand {
    /*background-color: #2E3946 !important;*/
    background-color: #385C85 !important;
}

.app_container .win-splitview .win-splitview-pane .nav-commands .command .command-icon {
    width: 70px;
    height: 45px;
    box-sizing: border-box;
    float: left;
    text-align: center;

}

.app_container .win-splitview .win-splitview-pane .nav-commands .command .command-icon > span {
    /*color: #EDF2F7;*/
    color: #EDF2F7;
    line-height: 45px;
    font-size: 20px;

}

.app_container .win-splitview .win-splitview-pane .nav-commands .command .command-icon > .new_messages {
    width: 18px;
    height: 18px;
    color: white;
    background-color: #DA2929;
    border-radius: 9px;
    float: left;
    margin-left: -18px;
    position: relative;
    top: 6px;
    left: 55px;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
}

.app_container .win-splitview .win-splitview-pane .nav-commands .command .command-title {
    width: calc(100% - 73px);
    height: 45px;
    box-sizing: border-box;
    line-height: 45px;
    padding-top: 1px;
    float: right;
    overflow: hidden;
}

.app_container .win-splitview .win-splitview-pane .nav-commands .command .command-title > span {
    color: #EDF2F7;
    font-size: 16px;
    letter-spacing: .5px;
    font-weight: 400;
    text-align: left;
}

/*Navigation*/

/*LEFT PANEL*/

/*APP CONTAINER*/

.app_container .win-splitview-contentwrapper {
    background-color: #EDF2F7;
}

.app_container .win-splitview-contentwrapper .app_module_loader {
    height: 6px;
    box-sizing: border-box;
    padding: 0px;
    visibility: hidden;
    margin: 0px;
}

.app_container .win-splitview-contentwrapper .main_app_page {
    width: 100%;
    height: calc(100% - 7px);
    margin-top: 1px;
    box-sizing: border-box;
}

.app_container .win-splitview-contentwrapper .main_app_page .top_nav {
    height: 40px;
    box-sizing: border-box;
    /*border: 1px solid red;*/
}

.app_container .win-splitview-contentwrapper .main_app_page .top_nav > h3 {
    color: #3A4859;
    font-size: 32px;
    margin-left: 15px;
    letter-spacing: .3px;
}

.app_container .win-splitview-contentwrapper .main_app_page .top_nav > h3:hover {
    color: #5E6A79;
}

.app_container .win-splitview-contentwrapper .main_app_page .top_nav > h3:active {
    color: #A5AEB8;
}


.app_container .win-splitview-contentwrapper .main_app_page .module_main_box
{
    height: calc(100% - 40px);
    width: 100%;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 7px;
    float:left;
    white-space:nowrap;
}



/*APP CONTAINER*/

