<div class="registration">

    <div class="registration_header">

        <div class="registration_close">
            <button class="win-backbutton registration_backbutton"></button>
        </div>
        <div class="registration_title" data-animation="win-left">Регистрация</div>

    </div>

    <div class="registration_loader" style="display: none">
        <div class="spinner">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="registration_wrap" data-animation="win-top">

        <label for="login">Логин:</label>
        <br>

        <div class="info">Будет использоваться при авторизации.<br>Только латинские буквы и цифры.<br>Не короче 2 и не
            более 15 символов
        </div>
        <input id="login" type="text">


        <label for="nickname">Никнейм:</label>
        <br>

        <div class="info">Этим именем будут подписываться ваши сообщения.<br>Русские и английские буквы,цифры,не короче
            2 символов
        </div>
        <input id="nickname" type="text">

        <label for="password">Пароль:</label>
        <br>

        <div class="info">Не менее 6 символов</div>
        <input id="password" type="password">


        <label for="re_password">Повторите пароль:</label>
        <input id="re_password" type="password">


        <label for="mail">E-Mail:</label>
        <br>

        <div class="info">По умолчанию не публикуется</div>
        <input id="mail" type="text">


        <label for="birthdate">Дата рождения:</label>
        <br>

        <div class="info">По умолчанию не публикуется</div>
        <!--<input id="birthdate"  type="text">-->
        <div id="birthdate" data-win-control="WinJS.UI.DatePicker" data-win-options="{
                yearPattern: '{year.full}',
                monthPattern: '{month.integer(2)}',
                 datePattern: '{day.integer(2)}',
                 maxYear:2015
        }"></div>


        <label for="study">Образование:</label>
        <!--<input id="study" type="text">-->

        <select id="study" class="win-dropdown">
            <option value="Высшее">Высшее</option>
            <option value="Среднее">Среднее</option>
            <option value="Начальное">Начальное</option>
        </select>
        <!--<label for="country">Город:</label>-->
        <!--<input id="country"  type="text">-->


        <!--<label for="icq">ICQ:</label>-->
        <!--<input id="icq" type="text">-->


    </div>
    <button id="registration_button" data-animation="win-top">Регистрация</button>

</div>