<div class="profile_wall" data-animation="win-left">
    <div class="in_hor_wrap">
    <div class="smilies">

        <div class="smilieslist">
            {{for ~smilies}}
            <div  class="smile_it" data-url = "images/smilies/{{:name}}.gif" ></div>
            {{/for}}
        </div>
    </div>

    <div data-placeholder="Добавить запись на стену..." class="wall_add_content" contenteditable="true">

    </div>

        <div class="attach" data-scale="true">
            <span class="icon icon-camera"></span>
        </div>
        <div class="attach" data-scale="true">
            <span class="icon icon-film"></span>
        </div>
        <div class="attach" data-scale="true">
            <span class="icon icon-headphones"></span>
        </div>
        <div class="attach" data-scale="true">
            <span class="icon icon-attachment"></span>
        </div>
        <div class="attach" data-scale="true">
            <span class="icon icon-location3"></span>
        </div>



    <button class="win-button set_wall_post" >Опубликовать</button>
    </div>
</div>








<div class="profile_wall_box">

    <div class="profile_wall_box_content" data-animation="win-left">

    </div>

    <div class="profile_wall_box_content" data-animation="win-left">
    </div>


</div>

<div class="profile_wall_box">

    <div class="profile_wall_box_content" data-animation="win-left">

    </div>

    <div class="profile_wall_box_content" data-animation="win-left">

    </div>


</div>

<div class="profile_wall_box">

    <div class="profile_wall_box_content" data-animation="win-left">

    </div>

    <div class="profile_wall_box_content" data-animation="win-left">

    </div>


</div>

<div class="profile_wall_box">

    <div class="profile_wall_box_content" data-animation="win-left">

    </div>

    <div class="profile_wall_box_content" data-animation="win-left">

    </div>


</div>

<div class="profile_wall_box">

    <div class="profile_wall_box_content" data-animation="win-left">

    </div>

    <div class="profile_wall_box_content" data-animation="win-left">

    </div>


</div>

