@-webkit-keyframes margin_to_top {
    0% {
        margin-top: 135px;
        margin-left: -20px;
        width: 390px;
    }

    100% {
        margin-top: 0px;
        margin-left: 0px;
        width: 350px;
    }
}

@-webkit-keyframes circle_show {
    0% {
        background-size: 260px;
    }

    100% {
        background-size: 130px;
    }
}

.margin_to_top {
    -webkit-animation-name: margin_to_top;
    -webkit-animation-duration: .3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;

}

.login_wrap {
    width: 400px;
    height: 400px;
    margin: auto;
    box-sizing: border-box;
    top: calc(50% - 200px);
    position: relative;

}

.login_wrap .login_form {
    width: 350px;
    height: 350px;
    margin: 25px;
    box-sizing: border-box;

}

.login_wrap .login_form .logo {

    width: 350px;
    height: 130px;
    margin: 0px 0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-image: url('../../../images/splash.svg');
    background-position: center;
    background-size: contain;

}

.login_wrap .login_form .rounded {
    border: 3px solid white;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin: 0px 110px;
    -webkit-animation-name: circle_show;
    -webkit-animation-duration: .23s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    background-size: cover;
    background-color: white;
}

.login_wrap .login_form input {

    width: 330px;
    height: 40px;
    box-sizing: border-box;
    border: none;
    padding: 4px;
    margin: 15px 10px;

}



.login_wrap .login_form .progress {

    width: 40px;
    height: 40px;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 155px;
    background-size: 95%;
    background-image: url("../../../images/windows_loader.gif");
    display: none;
    margin-top: 15px;
    margin-bottom: 15px;

}

.login_wrap .login_form input[type=button] {

    color: white;
    background-color: #406A99 !important;
    transition: background-color 1s;
    cursor: pointer;

}

.login_wrap .login_form input[type=button]:hover {
    background-color: #385C85 !important;
}

.login_wrap .login_form .help_block {
    width: 330px;
    margin: auto;
    box-sizing: border-box;
    height: 30px;
    margin-top: 0px;
    letter-spacing: .2em;
    font-size: 11.5px;
    line-height: 30px;
    color: white;

}

.login_wrap .login_form .help_block > .register {
    width: 160px;
    height: 30px;
    box-sizing: border-box;
    padding-left: 15px;
    cursor: pointer;
    text-align: left;
    float: left;

}

.login_wrap .login_form .help_block > .forgot {
    width: 160px;
    height: 30px;
    box-sizing: border-box;
    text-align: right;
    cursor: pointer;
    padding-right: 15px;
    float: right;
}


#right_panel > .main_flyout > .registration
{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;

}

#right_panel > .main_flyout > .registration > .registration_header
{
    width: 100%;
    height: 50px;
    background-color: #385C85;
    box-sizing: border-box;

}

#right_panel > .main_flyout > .registration > .registration_loader
{
    width: 100%;
    height: 7px;
    margin-top: 2px;
    box-sizing: border-box;
    background-color: white;
    position: relative;

}


#right_panel > .main_flyout > .registration > .registration_header > .registration_close
{
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    float: left;

}

#right_panel > .main_flyout > .registration > .registration_header > .registration_close .registration_backbutton
{
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    line-height: 50px;
    text-align: center;
    color: white;
}


#right_panel > .main_flyout > .registration > .registration_header > .registration_title
{
    width: calc(100% - 50px);
    height: 50px;
    box-sizing: border-box;
    line-height: 50px;
    color: white;
    letter-spacing: .7px;
    font-size: 16px;
    font-weight: lighter;
    float: left;
    padding-left: 15px;
}

#right_panel > .main_flyout > .registration > .registration_wrap
{
    width: 100%;
    height: calc(100% - 110px);
    box-sizing: border-box;
    padding-top: 15px;
    overflow-x: hidden;
}

#right_panel > .main_flyout > .registration > .registration_wrap > input
{
    width: 90%;
    height:  35px;
    padding:0px 10px;
    box-sizing: border-box;
    border: 1px solid #E7EDF4;
    margin: 10px 5%;
}


#right_panel > .main_flyout > .registration > .registration_wrap > input.error_val{
    box-shadow:  0px 0px 3px .6px red;
    border: none;
    transition: border 1s;
}

#right_panel > .main_flyout > .registration > .registration_wrap  select
{

    border: 1px solid #E7EDF4 !important;


}

#right_panel > .main_flyout > .registration > .registration_wrap > label
{
   margin-left: 5%;
    font-size: 16px;
    color:#3A4859;
}

#right_panel > .main_flyout > .registration > .registration_wrap > label:hover
{

    color:#5E6A79;
}

#right_panel > .main_flyout > .registration > .registration_wrap > label:active
{

    color:#A5AEB8;
}

#right_panel > .main_flyout > .registration > .registration_wrap > .info
{
    margin-left: 6%;
    padding-top: 5px;
    font-size: 12px;
    color:#5E6A79;
}

#right_panel > .main_flyout > .registration > .registration_wrap > #birthdate
{
    width: 90%;
    margin-left: 5%;
    margin-bottom: 7px;
}


#right_panel > .main_flyout > .registration > .registration_wrap > #study
{
    width: 90%;
    margin-left: 5%;
    margin-bottom: 7px;
}

#right_panel > .main_flyout > .registration >  #registration_button
{
    width: 90%;
    height: 35px;
    /*margin-top: 5px;*/
    /*margin-bottom: 10px;*/
    margin: 7px 5%;
    background-color: #385C85;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    color: #ffffff;
    font-family: Arial;
    border: none;
    /*font-weight: 100;*/
    /*letter-spacing: 0.5px;*/
}



#right_panel > .main_flyout > .registration >  #registration_button:hover {
    background-color: #325277;
}

#right_panel > .main_flyout > .registration >  #registration_button:active {
    background-color: #2C4969;

}