<div class="in_hor_wrap">
    <!--<div class="top" data-scale="true">Информация</div>-->
    {{if ~status && ~status != '' && ~status !=0}}
    <div class="info" data-win-control="WinJS.UI.Tooltip" data-win-options="{innerHTML: 'Статус'}">
        <table>
            <tr>
                <td><span class="icon icon-pencil"></span></td>
                <td>{{:~status}}</td>
            </tr>
        </table>
    </div>
    <hr>
    {{/if}}



    <div class="info" data-win-control="WinJS.UI.Tooltip" data-win-options="{innerHTML: 'Дата регистрации:'}">
        <table>
            <tr>
                <td><span class="icon icon-calendar"></span></td>
                <td>{{:~regdate}}</td>
            </tr>
        </table>
    </div>

    <hr>

    {{if ~city && ~city != '' && ~city !=0}}
    <div class="info" data-win-control="WinJS.UI.Tooltip" data-win-options="{innerHTML: 'Город:'}">
        <table>
            <tr>
                <td><span class="icon icon-home"></span></td>
                <td>{{:~city}}</td>
            </tr>
        </table>
    </div>
    <hr>
    {{/if}}




    {{if ~gender && ~gender != '' && ~gender !=0}}
    <div class="info" data-win-control="WinJS.UI.Tooltip" data-win-options="{innerHTML: 'Пол:'}">
        <table>
            <tr>
                <td><span class="icon icon-man-woman"></span></td>
                <td>{{:~gender}}</td>
            </tr>
        </table>
    </div>
    <hr>
    {{/if}}



    {{if ~description && ~description != '' && ~description !=0}}
    <div class="info" data-win-control="WinJS.UI.Tooltip" data-win-options="{innerHTML: 'Интересы (метки):'}">
        <table>
            <tr>
                <td><span class="icon icon-bookmark"></span></td>
                <td>{{:~description}}</td>
            </tr>
        </table>
    </div>
    <hr>
    {{/if}}





    {{if ~email && ~email != '' && ~email !=0}}
    <div class="info" data-win-control="WinJS.UI.Tooltip" data-win-options="{innerHTML: 'E-Mail:'}">
        <table>
            <tr>
                <td><span class="icon icon-mail4"></span></td>
                <td>{{:~email}}</td>
            </tr>
        </table>
    </div>
    <hr>
    {{/if}}


    {{if ~phone && ~phone != '' && ~phone !=0}}
    <div class="info" data-win-control="WinJS.UI.Tooltip" data-win-options="{innerHTML: 'Телефон:'}">
        <table>
            <tr>
                <td><span class="icon icon-phone"></span></td>
                <td>{{:~phone}}</td>
            </tr>
        </table>
    </div>

    <hr>
    {{/if}}



    {{if ~icq && ~icq != '' && ~icq !=0}}
    <div class="info" data-win-control="WinJS.UI.Tooltip" data-win-options="{innerHTML: 'ICQ:'}">
        <table>
            <tr>
                <td><span class="icon icon-yelp"></span></td>
                <td>{{:~icq}}</td>
            </tr>
        </table>
    </div>

    <hr>
    {{/if}}


    {{if ~birthdate && ~birthdate != '' && ~birthdate !=0}}
    <div class="info" data-win-control="WinJS.UI.Tooltip" data-win-options="{innerHTML: 'Дата рождения:'}">
        <table>
            <tr>
                <td><span class="icon icon-gift"></span></td>
                <td>{{:~birthdate}}</td>
            </tr>
        </table>
    </div>
    {{/if}}


</div>
