<div class="splitView" data-win-control="WinJS.UI.SplitView">

    <!-- Pane area -->
    <div>
        <!--Pane Header-->
        <div class="header">
            <button
                    class="win-splitviewpanetoggle"
                    data-win-control="WinJS.UI.SplitViewPaneToggle"
                    data-win-options="{ splitView: select('.splitView') }"
                    ></button>

        </div>
        <!--Pane Header-->
        <div style="clear: both"></div>

        <!-- Pane Navigation-->
        <div class="nav-commands">

            <!-- My Profile-->
            <div data-win-control="WinJS.UI.SplitViewCommand">

                <div class="command" data-scale="true" data-module="my_profile">
                    <div title="{{:~data.nickname}}" class="command-icon"
                         style="background-repeat: no-repeat;background-position: center;background-size: 26px 26px;background-image: url('{{:~HostUrl}}/{{:~data.avatar}}')">

                    </div>
                    <div class="command-title">
                        <span>{{:~data.nickname}}</span>
                    </div>
                </div>

            </div>
            <!-- My Profile-->

            <!-- News-->
            <div data-win-control="WinJS.UI.SplitViewCommand">

                <div class="command" data-scale="true" data-module="news">
                    <div title="Новости" class="command-icon">
                        <span class="icon icon-newspaper"></span>
                    </div>
                    <div class="command-title">
                        <span>Новости</span>
                    </div>
                </div>

            </div>
            <!-- News-->

            <!-- Comments-->
            <div data-win-control="WinJS.UI.SplitViewCommand">

                <div class="command" data-scale="true" data-module="blog">
                    <div title="Блоги" class="command-icon">
                        <span class="icon icon-book"></span>
                    </div>
                    <div class="command-title">
                        <span>Блоги</span>
                    </div>
                </div>

            </div>
            <!-- Comments-->

            <!-- Messages-->
            <div data-win-control="WinJS.UI.SplitViewCommand">
                <div class="command" data-scale="true" data-module="messages">
                    <div title="Сообщения" class="command-icon">
                        <span class="icon icon-bubbles"></span>
                        {{if ~data.in_messages['messages'] > 0}}

                        {{if ~data.in_messages['messages'] < 10}}
                        <div class="new_messages">{{:~data.in_messages['messages']}}</div>
                        {{/if}}
                        {{if ~data.in_messages['messages'] >= 10}}
                        <div class="new_messages">9+</div>
                        {{/if}}

                        {{else}}
                        <div class="new_messages" style="display: none">0</div>
                        {{/if}}
                    </div>
                    <div class="command-title">
                        <span>Сообщения</span>
                    </div>
                </div>
            </div>
            <!-- Messages-->

            <!-- Friends-->
            <div data-win-control="WinJS.UI.SplitViewCommand">


                <div class="command" data-scale="true" data-module="friends">
                    <div title="Друзья" class="command-icon">
                        <span class="icon icon-user"></span>
                    </div>
                    <div class="command-title">
                        <span>Друзья</span>
                    </div>
                </div>
            </div>
            <!-- Friends-->

            <!-- Groups-->
            <div data-win-control="WinJS.UI.SplitViewCommand">
                <div class="command" data-scale="true" data-module="groups">
                    <div title="Клубы" class="command-icon">
                        <span class="icon icon-users"></span>
                    </div>
                    <div class="command-title">
                        <span>Клубы</span>
                    </div>
                </div>
            </div>
            <!-- Groups-->

            <!-- Photos-->
            <div data-win-control="WinJS.UI.SplitViewCommand">
                <div class="command" data-scale="true" data-module="photos">
                    <div title="Фотографии" class="command-icon">
                        <span class="icon icon-camera"></span>
                    </div>
                    <div class="command-title">
                        <span>Фотографии</span>
                    </div>
                </div>
            </div>
            <!-- Photos-->

            <!-- Videos-->
            <div data-win-control="WinJS.UI.SplitViewCommand">
                <div class="command" data-scale="true" data-module="videos">
                    <div title="Видеозаписи" class="command-icon">
                        <span class="icon icon-film"></span>
                    </div>
                    <div class="command-title">
                        <span>Видеозаписи</span>
                    </div>
                </div>
            </div>
            <!-- Videos-->

            <!-- Audios-->
            <div data-win-control="WinJS.UI.SplitViewCommand">
                <div class="command" data-scale="true" data-module="audios">
                    <div title="Аудиозаписи" class="command-icon">
                        <span class="icon icon-headphones"></span>
                    </div>
                    <div class="command-title">
                        <span>Аудиозаписи</span>
                    </div>
                </div>
            </div>
            <!-- Audios-->

            <!-- Favorites-->
            <div data-win-control="WinJS.UI.SplitViewCommand">
                <div class="command" data-scale="true" data-module="files">
                    <div title="Файлы" class="command-icon">
                        <span class="icon icon-attachment"></span>
                    </div>
                    <div class="command-title">
                        <span>Файлы</span>
                    </div>
                </div>
            </div>
            <!-- Favorites-->

            <!-- Search-->
            <div data-win-control="WinJS.UI.SplitViewCommand">
                <div class="command" data-scale="true" data-module="search">
                    <div title="Поиск" class="command-icon">
                        <span class="icon icon-search"></span>
                    </div>
                    <div class="command-title">
                        <span>Поиск</span>
                    </div>
                </div>
            </div>
            <!-- Search-->

            <!-- Settings-->
            <div data-win-control="WinJS.UI.SplitViewCommand">
                <div class="command" data-scale="true" data-module="settings">
                    <div title="Настройки" class="command-icon">
                        <span class="icon icon-cog"></span>
                    </div>
                    <div class="command-title">
                        <span>Настройки</span>
                    </div>
                </div>
            </div>
            <!-- Settings-->
        </div>
        <!-- Pane Navigation-->

    </div>
    <!-- Pane area -->

    <!-- Content area -->
    <div class="app_module_loader">
        <div class="spinner" style="display: none">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="main_app_page">
        <div class="top_nav"><h3 class="win-h3"></h3></div>
        <div class="module_main_box">
            kdshfksdhfkjshfjshfjshdf
        </div>
    </div>
    <!-- Content area -->

</div>
