.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_main .avatar
{
    width: 90%;
    height: 250px;
    margin: 5px 5%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_main .points
{
    width: 90%;
    height: 55px;
    margin: 5px 5%;
    word-break: break-all;
    color: white;
}

.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_main .points .karma
{
    width: calc(50% - 1px);
    height: 55px;
    box-sizing: border-box;
    float: left;
    background-color: #427F00;
    line-height: 55px;
    text-align: center;
    color: white;

}

.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_main .points .rating
{
    width: calc(50% - 1px);
    height: 55px;
    box-sizing: border-box;
    float: left;
    background-color: #4A73A7;
    margin-left: 2px;
    line-height: 55px;
    text-align: center;
    color: white;
}




.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_main .change_avatar
{
    width: 90%;
    height: 70px;
    margin: 15px 5%;
    word-break: break-all;
    box-sizing: border-box;
    color: #3A4859;
}


.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_main .change_avatar .from_camera
{
    width: 50%;
    height: 70px;
    margin: 0;
    word-break: break-all;
    font-size: 58px;
    text-align: start;
    line-height: 70px;
    box-sizing: border-box;
    cursor: pointer;
    border-right: 1px solid #3F6896;
    padding-left: 17px;
    transition: color .7s;
    color: #3F6896;
    float: left;
}

.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_main .change_avatar .from_camera:hover
{
    color: #385C85;
}

.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_main .change_avatar .from_file
{
    width: 50%;
    height: 70px;
    margin: 0;
    font-size: 58px;
    text-align: end;
    line-height: 70px;
    cursor: pointer;
    word-break: break-all;
    box-sizing: border-box;
    color: #3F6896;
    padding-right: 17px;
    transition: color .7s;
    float: left;
}


.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_main .change_avatar .from_file:hover
{
    color: #385C85;
}