<div class="in_hor_wrap">
    <div class="profile_friends block" data-animation="win-left">
        <div class="top" data-scale="true">
            <div class="title">
                Друзья&nbsp;&nbsp;<span data-animation="win-top" class="count"> {{:~friends.total}}</span>
            </div>
            <div class="right_arrow">
                <span class="icon icon-arrow-right2"></span>
            </div>
        </div>
        <div class="content">

            {{for ~friends.friends}}
            <div data-scale="true" class="item item_friend" data-id="{{:id}}" data-win-control="WinJS.UI.Tooltip" data-win-options="{innerHTML: '{{:nickname}}'}" style="background-image: url('{{:~HostUrl}}{{:avatar}}');"></div>
            {{/for}}


        </div>
    </div>

    <div class="profile_groups block" data-animation="win-left">
        <div class="top" data-scale="true">
            <div class="title">
                Клубы&nbsp;&nbsp;<span data-animation="win-top" class="count"> {{:~clubs.total}}</span>
            </div>
            <div class="right_arrow">
                <span class="icon icon-arrow-right2"></span>
            </div>
        </div>
        <div class="content">

            {{for ~clubs.clubs}}

            <div data-scale="true" class="item item_club" data-id="{{:id}}" data-win-control="WinJS.UI.Tooltip" data-win-options="{innerHTML: '{{:title}}'}" style="background-image: url('{{:~HostUrl}}{{:imageurl}}');"></div>
            {{/for}}

        </div>
    </div>


    <div class="profile_photos block" data-animation="win-left">
        <div class="top" data-scale="true">
            <div class="title">
                Фотографии&nbsp;&nbsp;<span data-animation="win-top" class="count"> {{:~albums.total}}</span>
            </div>
            <div class="right_arrow">
                <span class="icon icon-arrow-right2"></span>
            </div>
        </div>
        <div class="content">

            {{for ~albums.albums}}
            <div data-scale="true" class="item item_album" data-id="{{:id}}" data-win-control="WinJS.UI.Tooltip" data-win-options="{innerHTML: 'Альбом:{{:title}},Количество фотографий:{{:photos_count}}'}" style="background-image: url('{{:~HostUrl}}{{:imageurl}}');"></div>
            {{/for}}

        </div>
    </div>
</div>
