﻿<div class="login_wrap" {{if ~fromSplash !=true}}data-animation="show_from_right"{{/if}}>
    <div class="login_form">

        <div class="logo" {{if ~fromSplash==true}}data-animation="margin_to_top"{{/if}}></div>
        <input value="vasya" required="required" class="user_login" {{if ~fromSplash==true}}style="display:none"{{/if}} type="text"
               placeholder="Логин или E-Mail"/>
        <input value="k002233" class="user_password" {{if ~fromSplash==true}}style="display:none"{{/if}} type="password"
               placeholder="Пароль"/>

        <div class="progress"></div>

        <input data-scale="true" class="submit_login" {{if ~fromSplash==true}}style="display:none"{{/if}} data-scale="1"
               type="button" value="Войти">

        <div class="help_block" {{if ~fromSplash==true}}style="display:none"{{/if}}>
            <div data-scale="true" class="register">Регистрация</div>
            <div data-scale="true" class="forgot">Забыли пароль?</div>
            <div style="clear: both"></div>
        </div>

    </div>

</div>

