<div class="in_hor_wrap">
<div class="points">
    <div class="karma" data-win-control="WinJS.UI.Tooltip" data-win-options="{innerHTML: 'Карма'}">{{:~karma}}</div>
    <div class="rating" data-win-control="WinJS.UI.Tooltip" data-win-options="{innerHTML: 'Рейтинг'}">{{:~rating}}</div>
</div>
<div class="avatar" style="background-image: url('{{:~HostUrl}}{{:~avatar}}');"></div>
<div class="change_avatar">
    <div class="from_camera" data-win-control="WinJS.UI.Tooltip" data-win-options="{innerHTML: 'Изменитъ аватар:Сделать снимок с веб камеры'}">
        <div data-scale="true">
        <span   class="icon icon-camera"></span>
        </div>
    </div>
    <div class="from_file">
       <div data-scale="true" >
        <span class="icon icon-image" data-win-control="WinJS.UI.Tooltip" data-win-options="{innerHTML: 'Изменитъ аватар:Выбрать фотографию из файлов'}"></span>
       </div>
       </div>
</div>
</div>
