.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_info .info
{

    width: 100%;
    /*border: 1px solid red;*/
    box-sizing: border-box;

}

.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_info .top
{

   margin: 9px 5px;
    color:#385C94 ;
}


.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_info .top:hover
{
  opacity: 0.7;
}

.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_info .top:active
{
    opacity: 0.5;
}

.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_info hr
{
    width: 80%;
    height: .3px;
    box-sizing: border-box;
    margin: 7px 10%;
    display: none;
    color: #464646;
}

.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_info .info>table
{
    width: 100%;
}

.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_info .info>table  td:first-child
{
   padding: 8px;
    width: 30px;
    text-align: center;
    color: #385C85;
    font-size: 18px;
}

.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_info .info>table  td
{
    padding: 8px;
    text-align: left;
    color: #385C85;
    word-break: normal;
}
