.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_wall
{
    width: 350px;
    height: 100%;
    background-color: white;
    margin: 0px 15px;
    display:inline-block;
    box-sizing: border-box;
    /*border: 3px solid #C4C8CC;*/
    white-space:normal;
}




.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_wall  .smilies
{
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    /*border-bottom: 5px solid #EDF2F7;*/

}

.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_wall  .smilies .smilieslist
{
    height: 100px;
}

.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_wall  .smilies .smilieslist .smile_it
{
    height: 40px;
    width: 40px;
    margin: 2px 5px;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    box-sizing: border-box;
}


.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_wall .wall_add_content
{
    width: 100%;
    height: calc(100% - 140px);
    padding: 10px 10px 10px 10px;
    word-break: keep-all;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    border-bottom: 5px solid #EDF2F7;
    cursor: text;

}

.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_wall .wall_add_content:not(:focus):not([data-div-placeholder-content]):before {
    content: attr(data-placeholder);
    color: gray;
}





.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_wall .attach
{
    width: 40px;
    height: 40px;
    /*border: 1px solid red;*/
    box-sizing: border-box;
    float: left;
    margin-left: 0px;
    margin-right: 2px;
    color: #959595;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_wall .attach:hover
{
    background-color:#959595 ;
    color: white;

}

.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_wall .set_wall_post
{
    float: right;
    margin: 3px 5px;
}














.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_wall_box
{
    width: 420px;
    box-sizing: border-box;
    height: 100%;
    margin: 0px 3px;
    display:inline-block;
    white-space:normal;
}




.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_wall_box > .profile_wall_box_content:hover
{
    border: 3px solid #C4C8CC;
}


.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_wall_box:nth-child(odd) > .profile_wall_box_content:nth-child(1)
{
    width: 100%;
    box-sizing: border-box;
    height: 250px;
    background-color: white;
    float: left;
    margin: 0px 0px 10px 0px;
}

.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_wall_box:nth-child(odd) > .profile_wall_box_content:nth-child(2)
{
    width: 100%;
    box-sizing: border-box;
    height: calc(100% - 260px);
    background-color: white;
    float: left;

    margin: 0px;
}



.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_wall_box:nth-child(even) > .profile_wall_box_content:nth-child(2)
{
    width: 100%;
    box-sizing: border-box;
    height: 250px;
    float: left;

    background-color: white;
    margin: 0px 0px 0px 0px;
}

.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_wall_box:nth-child(even) > .profile_wall_box_content:nth-child(1)
{
    width: 100%;
    box-sizing: border-box;
    float: left;

    height: calc(100% - 260px);
    background-color: white;
    margin: 0px 0px 10px 0px;
}



