.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_data .profile_friends
{
    width: 250px;
    height: 100px;
    background-color: white;
    margin: 0px 0px 10px 0px;
    float: left;
}








.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_data  .profile_groups
{
    width: 250px;
    height: 100px;
    background-color: white;
    margin: 10px 0px;
    float: left;


}

.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_data  .profile_photos
{
    width: 250px;
    height: calc(100% - 240px);
    background-color: white;
    margin: 10px 0px;
    float: left;


}


.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_data .block > .top
{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    color: #385C85;
    padding: 0px 5px;
}


.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_data .block > .top:hover
{
  opacity: .7;
}

.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_data .block > .top:active
{
    opacity: .5;
}

.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_data .block > .top > .title
{
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    line-height: 40px;
    float: left;
}


.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_data .block > .top > .title .count
{
    color: #8B8F94;
    font-size: 12px;
}

.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_data .block > .top > .right_arrow
{
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    line-height: 40px;
    font-weight:600;
    font-size: 16px ;
    padding-right: 5px;
    float: left;
    text-align: right;
}

.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_data .block > .content
{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    padding: 5px;
}

.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_data .block > .content > .item
{
    width: 35px;
    height: 35px;
    margin: 0px 2px;
    box-sizing: border-box;
    border-radius: 3px;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.app_container .win-splitview-contentwrapper .main_app_page > .module_main_box > .profile_data .block > .content > .item:hover
{
    box-shadow:  0px 0px 3px .6px #cccccc;
}


/*color: #385C85;*/
